body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

h5 {
    font-size: 1.7em;
    font-weight: 400;
}

h6 {
    font-size: 1.3em;
    font-weight: 400;
}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 1cm;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 25vh 25vh 25vh;
    grid-gap: 0px;
    grid-auto-flow: column;
    grid-auto-columns: max-content; 
    grid-template-areas: 
        "photo4 photo4 . name photo photo ."
        "photo4 photo4 . . photo photo ."
        ". photo2 photo2 statement statement statement photo3"
        ". photo2 photo2 statement statement statement photo3"
        ". experience experience photo5 photo5 photo5 photo3 "
        ". experience experience photo5 photo5 photo5 photo3"
        ". experience experience photo5 photo5 photo5 ."
        ". experience experience . . . ."
        ". . . . . . ."
        
}

/*---------Header---------------------------------------------------*/
.name {
    text-align: center;
    grid-area: name;
    align-items: center;
    justify-content: center;
}

.name-text {
    padding-top: 55%;
}

.name header {

    font-size: 2em;
    font-weight: 500;
}
/*-------------------------------------------------------------------*/

/*------Images-------------------------------------------------------*/
.photo {
    grid-area: photo;
    background: white;
    display: flex;
    justify-content: center;
}

.photo>img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    min-width: 50%;
    vertical-align: middle;
}

.photo2 {
    grid-area: photo2;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo2>img {
    object-fit: cover;
    height: 90%;
    max-width: 70%;
    text-align: center;
    padding-bottom: 5em;
}

.photo3 {
    grid-area: photo3;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.photo3>img {
    
    object-fit: cover;
    height: 100%;
    max-width: 120%;
    text-align: center;
    
}

.photo4 {
    grid-area: photo4;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 25%;
}

.photo4>img {
    
    object-fit: cover;
    height: 80%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 2em;
}

.photo5 {
    grid-area: photo5;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3em;
}

.photo5>img {
    
    object-fit: cover;
    height: 75%;
    max-width: 75%;
    text-align: center;
    padding-bottom: 2em;
}
/*------------------------------------------------------------------*/

.empty {
    grid-area: empty;
    background: white;
}

/*--------Statement-------------------------------------------------*/
.statement {
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 15em;
    padding-bottom: 2em;

    grid-area: statement;
    text-align: center;
}

.statement p {
    font-size: 1em;
}
/*------------------------------------------------------------------*/

/*-------Experience-------------------------------------------------*/
.experience {
    grid-area: experience;
    text-align: center;
    padding-top: 2em;
    text-decoration: underline;
}

.experience h5 {
    text-align: center;
}
/*------------------------------------------------------------------*/