body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
}

h5 {
    font-size: 1.7em;
    font-weight: 400;
}

h6 {
    font-size: 1.3em;
    font-weight: 400;
}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 0.5fr 3fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh;
    grid-gap: 0px;
    grid-auto-flow: column;
    grid-auto-columns: max-content; 
    grid-template-areas: 
        ". . name name . photo . g y"
        ". . name name . photo . g y"
        ". . statement statement  . photo3 . g y"
        ". . statement statement  . photo3 . g y"
        ". . experience experience . photo5 . g y"
        ". . experience experience . photo5 . g y"
        ". . . . . . . . ."
        
}

/*---------Header---------------------------------------------------*/
.name {
    text-align: center;
    grid-area: name;
    align-items: center;
    justify-content: center;
}

.name-text {
    padding-top: 33%;
}

.name header {

    font-size: 2em;
    font-weight: 500;
}
/*-------------------------------------------------------------------*/

/*------Images-------------------------------------------------------*/
.photo {
    grid-area: photo;
    background: white;
    display: flex;
    justify-content: center;
}

.photo>img {
    object-fit: cover;
    width: 100%;
    min-width: 50%;
    vertical-align: middle;
    margin-top: 10%;
}

.photo2 {
    grid-area: photo2;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo2>img {
    object-fit: cover;
    height: 90%;
    max-width: 70%;
    text-align: center;
    padding-bottom: 5em;
}

.photo3 {
    grid-area: photo3;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.photo3>img {
    
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    text-align: center;
    
}

.photo4 {
    grid-area: photo4;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 25%;
}

.photo4>img {
    
    object-fit: cover;
    height: 80%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 2em;
}

.photo5 {
    grid-area: photo5;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.photo5>img {
    
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    text-align: center;

}
/*------------------------------------------------------------------*/

.empty {
    grid-area: empty;
    background: white;
}

/*--------Statement-------------------------------------------------*/
.statement {
    padding-top: 2em;
    padding-bottom: 2em;
    grid-area: statement;
    text-align: center;
}

.statement p {
    font-size: 1em;
}
/*------------------------------------------------------------------*/

/*-------Experience-------------------------------------------------*/
.experience {
    grid-area: experience;
    text-align: center;
    padding-top: 2em;
    text-decoration: underline;
    padding-top: 25%;
}

.experience h5 {
    text-align: center;
}

.experience a {
    color: black;
}
/*------------------------------------------------------------------*/

.green {
    grid-area: g;
    background-color: rgb(83, 151, 83);
}

.yellow {
    grid-area: y;
    background-color: #ffde3b;
}